################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SelSCCore
/SelSCCore/bin/Debug
/SelSCCore/obj
